<%- include("partials/header") %>


<div class="container" id="gameInfoTop">
	<div class="row mt-4">
		<div class="col-6 show_image-container">
			<img src="<%= game.image_link %>">
		</div>
		<div class="col-6 show_details-container">
			<h1 id="gamePageTitle"><%= game.title %></h1>
			<p><%= game.description %></p>
			<p><a href="<%= game.trailer %>" class="btn btn-primary" role="button">Trailer</a> <a href="<%= game.purchase_link %>" class="btn btn-primary" role="button">Buy Now</a></p>
			
	<table class="table table-dark" id="gameInfoTable">

			  <tbody>
				<tr>
					
				  <th scope="row">Company:</th>
				  <td><%= game.company %></td>
				 
				</tr>
				<tr>
					
				  <th scope="row">Publisher:</th>
				  <td><%= game.publisher %></td>
				  
				</tr>
				<tr>
					
				  <th scope="row">Release Date:</th>
				  <td><%= game.releaseDate %></td>
				  
				</tr>
				<tr>
					
				  <th scope="row">Series:</th>
				  <td><%= game.series %></td>
				  
				</tr>
				<tr>
					
				  <th scope="row">Genre:</th>
				  <td><%= game.genre %></td>
				  
				</tr>
				<tr>
					 
				  <th scope="row">Rating:</th>
				  <td><%= game.rating %></td>
				  
				</tr>
				<tr>
					   
				  <th scope="row">Platform:</th>
				  <td><%= game.platform %></td>
				  
				</tr>
				<!-- <tr>
					  
				  <th scope="row">Trailer:</th>
				  <td><a href="<%= game.trailer %>"><%= game.trailer %></a></td>
				  
				</tr> -->
			  </tbody>
			</table>
			<p> Added by: <%= game.owner.username %></p>
			<!-- games edit-delete -->
			<% if (user && user.username === game.owner.username) { %>
			<a href="/videogames/<%= game._id %>/edit">
			<button class="btn btn-outline-info btn-lg btn-block mb-2">Edit Game Info</button>
			</a>
			<form action="/videogames/<%= game._id %>?_method=DELETE" method="POST" >
			<button type="submit" class="btn btn-outline-danger btn-lg btn-block">Delete Game From Database</button>
			</form>
			<% } %>
		</div>
	</div>
<!------------------>
<!-- Vote Buttons -->
<!------------------>
	
<div class=""  id="voteButtons">
	<% if (user && game.upvotes.indexOf(user.username) >= 0) { %>
		<button id="upvote_btn" class="btn btn-success btn-sm mt-3">+</button>
	<% } else if (user) { %>
		<button id="upvote_btn" class="btn btn-outline-success btn-sm mt-3">+</button>
	<% } %>
		<span>Likes:</span>
		<span id="score"><%- game.upvotes.length - game.downvotes.length %> </span>
	<% if(user && game.downvotes.indexOf(user.username) >= 0) { %>
		<button id="downvote_btn" class="btn btn-danger btn-sm mt-3">-</button>
	<% } else if(user) { %>
		<button id="downvote_btn" class="btn btn-outline-danger btn-sm mt-3">-</button>
	<% } %>
</div>
	
<!-------------->
<!-- Comments -->
<!-------------->
	<a href="/videogames/<%=game._id%>/comments/new">
	<button class="btn btn-success btn-lg mt-2 mb-4" id="commentButton">Add Comment</button>
	</a>
	<% comments.forEach((comment => { %>
		<div class="row show_comment-container py-.5 border">
			<div class="col-2 border-right my-auto" id="commentUsername">
				<%= comment.user.username %>
			</div>
			<div class="col-8 my-auto" id="commentText">
				<%= comment.text %>
			</div>
			<!-- comments edit-delete -->
			<div class="col-2 border-right my-auto d-flex flex-wrap justify-content-center">
				<% if (user && user.username === comment.user.username) { %>
				<a id="commentEditButton" class="btn btn-sm btn-success w-75 p-0 my-1" href="/videogames/<%= game._id %> 		/comments/<%=comment._id%>/edit">Edit</a>
				<form class="w-75 my-1" action="/videogames/<%= game._id %>/comments/<%=comment._id%>?_method=DELETE" method="POST">
					<button class="btn btn-sm btn-danger w-100 p-0" id="commentDeleteButton">Delete</button>
				</form>
				<% } %>
			</div>
		</div>
	<% })) %>
	<div class="py-5"></div>
<!-- </div> -->
	<script>
	var gameId = "<%- game._id %>"
	</script>
	<script src="/js/games_show.js"></script>


<%- include('partials/footer') %>